*
{
    transition: 0.2s ease-in-out;
    user-select: none;
}

body {
    font-family: Poppins, system-ui;
    background: rgb(13, 13, 13);
    color: white;
}


section {
    margin: 5rem 0;
}


/* ---- DICE ROLL ----- */

.dice-buttons {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: .3s;
}

.dice-buttons:hover {
    background: rgb(115, 115, 115);
    color: white;
    transition: .3s;
}

.dice-buttons:active {
    background: rgb(175, 175, 175);
}

#diceCount {
    font-size: 1.2rem;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

#diceImages img{
    width: 50px;
}


/* ---- COUNTER NUMBER ----- */

#countLabel {
    display: inline-block;
    font-size: 4em;
    padding-left: 4.5rem;
    justify-content: center;
}


/* ---- CART QUANTIY ----- */

.cart-nav-container {
    background: #131921;
    color: white;
    padding: 1rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.amazon-logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.cart-quantity-container {
    text-align: end;
}

.cart-quantity {
    font-weight: 700;
    font-size: 1.2rem;
}

.quantity {
    color: rgb(255, 119, 0);
}

.cart-alert {
    color: red;
    font-size: .7rem;
    font-weight: bold;
}

.item-selector-container {
    border: .8px solid rgb(148, 148, 148);
    text-align: center;
    padding: 3rem 0 1.5rem 0;
}

.quantity-picker {
    background-color: rgb(239, 239, 239);
    padding: .5rem 3rem;
    border-radius: .5rem;
    font-weight: bold;
    text-align-last: left;
}

.cart-btn {
    margin: .3rem;
    cursor: pointer;
}

.crt-btns {
    border: none;
    border-radius: 5rem;
    padding: .4rem 3.7rem;
    font-weight: bold;
}

.addtocart-btn {
    background: #ffd712;
}

.removetocart-btn {
    background: #ffa41c;
    padding: .4rem 3rem;
}

.resetcart-btn {
    padding: .4rem 3.9rem;
}


/* ---- CALCULATOR ----- */

.calc-container {
    background: #D1D1D1;
    border: 5px solid black;
    border-radius: 7rem;
    border-bottom-left-radius: 6rem;
    padding: 0 2rem 1.5rem 0;
    width: 350px;
    margin: auto;
}

.calc-logo {
    text-align: center;
    font-weight: bold;
}

.calc-display {
    background: #D1D1D1;
    /* border: 5px solid black; */
    border-radius: .5rem;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0 0rem;
    font-size: 3rem;
    width: 300px;
    display: flex;
    justify-content: end;
    text-align: center;
    margin: auto;
}

.calc-btns-container {
    display: flex;
    /* grid-template-columns: repeat(2); */
    margin-top: 0rem;
}

.calc-btn {
    border: 3px solid black;
    color: white;
    /* border: none; */
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}


.operator-btn {
    display: flex;
    background: #AD8B73;
    border-radius: 0;
    height: 75px;
    text-align: center;
    justify-content: center;
}

.calc-number {
    background: #E3CAA5;
    /* padding: .rem 2.3rem; */
}

.calc-top {
    background: #F3E9DD;
    border-radius: 0;
    padding: 1rem;
}

.btn-zero {
    padding: 1rem 3.7rem;
    border-bottom-left-radius: 10rem;
}

.btn-deci {
    padding: 1rem 1.8rem;
}

#acBtn {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

#percBtn {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

#divideBtn {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

#equalBtn {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 10rem;
}

.calc-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 80px;
    text-align: center;
    justify-content: center;
}

.operators-container {
    display: flex;
    flex-direction: column;
    width: 80px;
    justify-content: start;
}


/* ---- ROCK PAPER SCISSORS GAME ----- */

.rps-start-btn {
    position: relative;
    background: rgb(0, 185, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.2rem 1.7rem;
    border: 2px solid green;
    border-radius: .5rem;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: .15s cubic-bezier(0, 0, .6, 1);
}

.rps-btn-text {
    font-size: 1.5rem;
    background-color: rgb(115, 115, 115);
    color: transparent;
    text-shadow: -.5px 2px .8px rgba(255, 255, 255, 1);
    -webkit-background-clip: text;
    background-clip: text;
}

.rps-start-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(0, 140, 0);
    box-shadow: 0 0 0 2px rgb(0, 130, 0), 0 .65em 0 0 rgb(191, 213, 191);
    transform: translate3d(0, .75rem, -1em);
    transition: .15s cubic-bezier(0, 0, .6, 1);
}

.rps-start-btn:hover {
    background-color: rgb(15, 177, 15);
    transform: translate(0, .25em);
}

.rps-start-btn:hover::before {
    box-shadow: 0 0 0 2px rgb(0, 130, 0), 0 .5em 0 0 rgb(191, 213, 191);
    transform: translate3d(0, .5em, -1em);
}

.rps-start-btn:active {
    background: green;
    transform: translate(0, .75em);
}

.rps-start-btn:active::before {
    box-shadow: 0 0 0 2px rgb(0, 130, 0), 0 .3em 0 0 rgb(191, 213, 191);
    transform: translate3d(0, .5em, -1em);
}



/* ---- TEMPERATURE CONVERSION ----- */

.unitText {
    font-size: 1.3em;
    font-weight: bold;
}

.convert-button {
    margin-top: 15px;
    background: hsl(34, 100%, 50%);
    color: white;
    font-size: 1.2em;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px rgb(78, 78, 78);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: .5s;
}

.convert-button:hover {
    background: hsl(22, 100%, 50%);
    transition: .5s;
}

.temp-result {
    font-size: 1.5em;
    font-weight: bold;
}

.temp-container {
    background: rgb(220, 220, 220);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 2rem;
    border-radius: .3rem;
    box-shadow: 10px 10px rgb(78, 78, 78);
}

#tempNumber {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: none;
    border-radius: .3rem;
    box-shadow: inset 2px 2px rgb(78, 78, 78);
    margin-bottom: 1rem;
    padding: .5rem ;
}


/* ---- RANDOM PASSWORD GENERATOR ----- */

.pass-word {
    padding: .2rem;
    text-align: center;
    font-weight: bold;
    width: 150px;
}

.pass-buttons {
    font-size: 1rem;
    font-weight: bold;
    padding: .1rem .5rem;
}

.password-container {
    background: rgb(204, 204, 204);
    padding: 1.5rem;
    width: 350px;
    border-radius: 5px;
}


/* ---- YOUTUBE SUBSCRIBE BUTTON ----- */

.sub-btn {
    background: black;
    color: white;
    padding: .6rem .9rem;
    border: none;
    border-radius: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.is-subscribed {
    background: rgb(240, 240, 240);
    color: black;
    font-weight: bold;
}


/* ---- AMAZON SHIPPING CALCULATOR ----- */

.amazon-label {
    margin-bottom: 2rem;
}

.amazon-cost-input {
    padding: .6rem;
}

.amazon-btn {
    padding: .7rem .8rem;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.amazon-calculateBtn {
    background: rgb(0, 139, 0);
}

.amazon-clearBtn {
    background: rgb(255, 82, 19);
}


/* ---- TOGGLED BUTTONS ----- */

.tbutton {
    background: black;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.is-toggled {
    background: rgb(217, 217, 217);
    color: black;
}

.sc-btn {
    background: rgb(217, 217, 217);
    color: black;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.is-picked {
    background: black;
    color: white;
}


/* ---- To DO LIST ----- */

.todo-grid,
.todo-input-grid {
    display: grid;
    grid-template-columns: 150px 140px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid {
    margin-bottom: 15px;
    align-items: stretch;
}

.todo-name,
.todo-date,
.todo-time {
    font-size: 15px;
    padding: 7px;
}

.add-todo-btn,
.delete-todo-btn {
    background: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-btn {
    background: darkred;
    padding: 10px;
}


/* ---- TIC TAC TOE---- */
.tictac-game-container
{
    text-align: center;
}

.tictac-title
{
    margin-bottom: 5rem;
}

.tictac-turn-container
{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.tictac-turn-container h4
{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.tictac-turn-container .turn-box
{
    border: 3px solid rgb(196, 196, 196);
    font-size: 1.6rem;
    font-weight: 700;
}

.align
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.turn-box:nth-child(even)
{
    border-right: none;
}

.turn-bg
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 42px;
    background-color: #ff8c2e;
    z-index: -1;
}

.main-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 5px solid rgb(196, 196, 196);

}

.box
{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 3px solid rgb(196, 196, 196);
}

.box:hover
{
    background-color: #ff8c2e;
}

#playAgain
{
    background-color: #ff8c2e;
    color: white;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#playAgain:hover{
    padding: 10px 40px;
    background-color: #ff3c2e;
}