body {
    font-family: Poppins, system-ui;
}


section {
    margin: 5rem 0;
}

.dice-buttons {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: .3s;
}

.dice-buttons:hover {
    background: rgb(115, 115, 115);
    color: white;
    transition: .3s;
}

.dice-buttons:active {
    background: rgb(175, 175, 175);
}

#diceCount {
    font-size: 1.2rem;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

#diceImages img{
    width: 50px;
}


#countLabel {
    display: inline-block;
    font-size: 4em;
    padding-left: 4.5rem;
    justify-content: center;
}

form {
    background: rgb(220, 220, 220);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 2rem;
    border-radius: .3rem;
    box-shadow: 10px 10px rgb(78, 78, 78);
}

#tempNumber {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: none;
    border-radius: .3rem;
    box-shadow: inset 2px 2px rgb(78, 78, 78);
    margin-bottom: 1rem;
    padding: .5rem ;
}

.unitText {
    font-size: 1.3em;
    font-weight: bold;
}

.convert-button {
    margin-top: 15px;
    background: hsl(34, 100%, 50%);
    color: white;
    font-size: 1.2em;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px rgb(78, 78, 78);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: .5s;
}

.convert-button:hover {
    background: hsl(22, 100%, 50%);
    transition: .5s;
}

.temp-result {
    font-size: 1.5em;
    font-weight: bold;
}

.pass-word {
    padding: .2rem;
    text-align: center;
    font-weight: bold;
    width: 150px;
}

.pass-buttons {
    font-size: 1rem;
    font-weight: bold;
    padding: .1rem .5rem;
}

.password-container {
    background: rgb(204, 204, 204);
    padding: 1.5rem;
    width: 350px;
    border-radius: 5px;
}

